.story {
   width: 100rem;
   margin: 0 auto;
   background-color: $color-white;
   clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100% );
   padding: 7rem;

   &__image {
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      margin-right: 5rem;
      shape-outside: circle(50%);
      position: relative;

      &-picture {
         background-image: url(../img/nat-8.jpg);
         background-size: cover;
         background-position: center;
         height: 100%;
         transform: scale(1.25);
         transition: all .2s;
      }

      &-name {
         position: absolute;
         opacity: 0;
         top: 75%;
         left: 50%;
         transform: translate(-50%, -50%);
         color: $color-white;
         transition: all .2s ease-in;
      }
   }

   &:hover &__image {
      &-picture {
         transform: scale(1.05);
         filter: blur(2px); 
      }

      &-name {
         top: 50%;
         opacity: 1;
      }
   }

   // &__heading {

   // }

   // &__paragrpah {

   // }
}